* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
    vertical-align: baseline;
}

.container {
    position: relative;
    width: 80%;
    min-width: 1000px;
    min-height: 100px;
    background: #ffffff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.1);
}

.container header {
    position: relative;
    background: #1e1e21;
    padding: 40px;
}

.container main {
    position: relative;
    background: #ffffff;
}

.text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.text .image {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #ffffff;
    box-shadow: 0 0 7px #5e5c5c;
}

.text .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text h1 {
    color: #ffffff;
    font-size: 1.2em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2em;
}

.text span {
    font-size: 0.8em;
    font-weight: 400;
}

.contact-info {
    padding-top: 50px;
}

.title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contact-info ul {
    position: relative;

}

.contact-info ul li {
    list-style: none;
    position: relative;
    margin: 10px 0;
}

.contact-info ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #484646;
}

.contact-info ul li span a {
    color: #ffffff;
    font-weight: 100;
    font-size: 17px;
    text-decoration: none;
}

.languages-info li,
.skills-info li {
    margin-bottom: 10px;
}

.languages-info h3,
.skills-info h3 {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
}

.languages-info h4 {
    color: #646363;
    font-weight: 600;
    font-size: 18px;
}

.languages-info ul,
.skills-info ul {
    color: #ffffff;
}

.languages-info,
.skills-info {
    padding-top: 50px;
}

.skills-margin {
    margin-left: 13px;
}

.about {
    padding: 70px 0 0 40px;
}

.title2,
.title3,
.title4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-weight: 600;
    border-bottom: 1px solid #232323;
}

p {
    color: #1e1e21;
    font-size: 18px;
    margin-right: 20px;
}

.courses {
    padding: 50px 0 0 40px;
}

.courses-list {
    color: #1e1e21;
    font-size: 18px;
    margin-left: 14px;
    padding-bottom: 5px;
}

.courses img {
    padding-top: 20px;
}

.code-example {
    padding: 50px 0 0 40px;
}

pre {
    background-color: #1e1e21;
    color: #ffffff;
    margin: 5px 40px 5px 40px;
    border-radius: 10px;
}

.code-example p {
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 170px 40px 5px 38px;
    border-top: 1px solid #232323;
}

.footer-item {
    display: flex;
    align-items: center;
}

.footer-item p {
    font-size: 14px;
}

button {
    height: 42px;
    border: none;
    background: #1e1e21;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;

}

button {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 42px;
    background: rgba(116, 116, 116, 0.3);
    border-radius: 5px;
    transition: all 2s ease;
}

button:hover:before {
    width: 100%;
}

.projects-info {
    display: inline-block;
    width: 345px;
    vertical-align: middle;
}

.projects-info h3,
.projects-info p {
    margin-bottom: 5px;
}